body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    }

div.cab{
    margin: 0%;
}
div.cab h4{
    padding: 75px 50px;
    text-align: right;
}
div.cab img{
    padding: 10px 5px;
    align-items: center;
    max-width: 400px;
    float: left;
}
div.sec1{
    text-align: center;
    max-width: 1700px;
}
div.sec2{
    text-align: center;
    max-width: 1700px;
}
div.sec3{
    text-align: center;
    max-width: 1700px;
}
